@import 'https://fonts.googleapis.com/css?family=Eater|Slackey';

@media screen and (max-width: 800px) {
    .fishImg {
        width: 30px;
    }
}

body {
    font-family: 'Arial';
    font-size: 2vh;
}

h1 {
  font-family: 'Slackey';
  color: #000000;
  margin: 30px;
}

#headimage {
  opacity: 0.8;
   width: 100%;
   height: auto;
}

#headline {
  position: absolute;
  margin-top: -20%;
}

#selection {
  background-color: #000000;
  color: #ffffff;
  border: 10px dashed #ffffff;
  padding-left: 15px;
}

#information {
  background-color: #ffffff;
  color: #000000;
  border: 10px dashed #000000;
  padding-left: 15px
}

select[id="payment"]:hover, input[id="gender"], input[type= "submit"]:hover {
  color: orange;
  cursor: pointer;
}

button[type = "submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

div[id="genderinfo"] {
  margin-top: 25px;
}

table {
  width: 100%;
  text-align: center;
}

#fishes {
  text-align: center;
  display: grid;
  grid-gap: 10%s;
  grid-template-columns: 18% 18% 18% 18% 18%;
  background-color: #000;
  color: #fff;
 }

 .attributes {
   font-weight: bold;
   text-align: left;
   padding-left: 20%;
 }

 .fishName {
   font-family: 'Eater';
   font-size: 100%;
 }

.fishImg {
  height: 200px;
}

.box {
  position: absolute;
  text-align: left;
  transform: scale(1.5);
}
